<mat-card class="dahboard-card">
  <mat-card-header>
    <div mat-card-avatar class="dahboard-header-image"></div>
    <mat-card-title>Huntington Beach</mat-card-title>
    <mat-card-subtitle>Beautiful sunset</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/vetri-page.appspot.com/o/20222660386_d4b1d19fe1_k.jpg?alt=media&token=cad00e4d-8e44-4c8d-8330-a043f9f737ed"
    alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      What a beautiful day to enjoy a sunset
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
