<mat-card style="width: 500px; height: 300px;">
  <mat-card-header>
    <div mat-card-avatar class="dahboard-header-image"></div>
    <mat-card-title>About me</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      I am Vetriselvan, Paramasivam alias "vetri" working as a programmer for the last 12 years. I
      have been mostly working on java/j2ee technologies and front end js frameworks like
      Angular/React as well in the past. To visit know more about my career skills please visit my
      <a href="https://www.linkedin.com/in/vetriselvan-paramasivam-66522921/">LinkedIn</a>
    </p>
    <p>
      Besides programming, I have passion for photography, playing soccer and reading books. As well
      I do like travel to different places and meeting different peoples.
    </p>
  </mat-card-content>
</mat-card>
