<mat-card style="width: 500px; height: 300px;">
  <mat-card-header>
    <div mat-card-avatar class="dahboard-header-image"></div>
    <mat-card-title>About me</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      I am Vetriselvan, Paramasivam aka "vetri" working as a programmer for the last 12 years. I
      have been working on java/j2ee technologies as well as fron end js frameworks like Angular.
    </p>
    <p>
      Besides programming, i have passion for photography ,playing soccer and reading books. As well
      I do like travel to different places and meeting different peoples.
    </p>
  </mat-card-content>
</mat-card>
