<!--<mat-toolbar>
  <mat-toolbar-row fxLayout class="nav-bar">
    <nav fxFlex fxLayoutAlign="center">
      <button fxFlex mat-raised-button color="primary" routerLink="/home">Home</button>
      <button fxFlex mat-raised-button color="primary" routerLink="/travel">Travel</button>
      <button
        fxFlex
        fxHide.lt-sm="true"
        mat-raised-button
        color="primary"
        routerLink="/photography"
      >
        Photography
      </button>
      <button fxFlex fxHide.lt-sm="true" mat-raised-button color="primary" routerLink="/about">
        About me
      </button>
    </nav>
  </mat-toolbar-row>
  <mat-toolbar-row fxLayout fxHide fxShow.lt-sm="true" class="nav-bar">
    <nav fxFlex fxLayout fxLayoutAlign="center">
      <button fxFlex mat-raised-button color="primary" routerLink="/photography">
        Photography
      </button>
      <button fxFlex mat-raised-button color="primary" routerLink="/about">About me</button>
      <button fxFlex mat-raised-button color="primary" routerLink="/login">Sign In</button>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>-->

<div>
  <app-header></app-header>
</div>

<router-outlet></router-outlet>
