<header>
  <nav>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center">
      <div fxflex="60">
        <img src="/assets/images/seagull.png" style="width: 50px; height: 50px;" />
        <a mat-raised-button routerLink="/home">Home</a>
        <a mat-raised-button routerLink="/travel">Travel</a>
        <a mat-raised-button routerLink="/photography">
          Photography
        </a>
        <a mat-raised-button routerLink="/about">
          About me
        </a>
      </div>
      <div fxflex="40" fxFlexAlign="end">
        <button mat-icon-button [matMenuTriggerFor]="matmenu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #matmenu="matMenu">
          <div *ngIf="(authUserObs | async) as currentUser; else signInUser">
            <label mat-menu-item>Welcome {{ currentUser.displayName }},</label>
            <a mat-menu-item routerLink="/admin">Admin</a>
            <button mat-menu-item color="warn" (click)="signOut()">Sign Out</button>
          </div>
          <ng-template #signInUser>
            <button mat-menu-item color="warn" (click)="signIn()">Sign In</button>
          </ng-template>
        </mat-menu>
      </div>
    </div>
  </nav>
</header>
